@import "tailwindcss";

/* Preline UI */
@import "../node_modules/preline/variants.css";

/* Plugins */
@plugin "@tailwindcss/forms";

/* Definir las fuentes usando Tailwind */
:root {
  --font-title: var(--font-inter);
  --font-paragraph: var(--font-lora);
  --font-button: var(--font-poppins);
  --font-special: var(--font-space-grotesk);
}

/* Aplicando las fuentes con @apply */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-title;
}

p {
  @apply font-paragraph;
}

button {
  @apply font-button;
}

.special-text {
  @apply font-special;
}

/* Opcional: si necesitas definirlas como clases personalizadas */
.font-title {
  font-family: var(--font-title);
}

.font-paragraph {
  font-family: var(--font-paragraph);
}

.font-button {
  font-family: var(--font-button);
}

.font-special {
  font-family: var(--font-special);
}
