@import "tailwindcss";

/* Plugins */
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

/* Definir las fuentes usando Tailwind */
@theme {
  --font-title: var(--font-clash-grotesk), sans-serif;
  --font-paragraph: var(--font-inter), sans-serif;
  --font-button: var(--font-poppins), sans-serif;
  --font-special: var(--font-lora), serif;

  --color-dark-text-primary: #d1d5db;
  --color-dark-text-secondary: #9ca3af;
  --color-dark-text-tertiary: #6b7280;
  --color-dark-text-muted: #4b5563;
  --color-dark-text-accent: #f9fafb;

  --color-primary-50: #edfaff;
  --color-primary-100: #d6f2ff;
  --color-primary-200: #b5eaff;
  --color-primary-300: #83dfff;
  --color-primary-400: #48cbff;
  --color-primary-500: #1eadff;
  --color-primary-600: #068fff;
  --color-primary-700: #007bff;
  --color-primary-800: #085ec5;
  --color-primary-900: #0d519b;
  --color-primary-950: #0e315d;

  --color-secondary-50: #e8f5f0;
  --color-secondary-100: #c6e8de;
  --color-secondary-200: #9edbd0;
  --color-secondary-300: #76ceb2;
  --color-secondary-400: #59c29b;
  --color-secondary-500: #42b584;
  --color-secondary-600: #38a175;
  --color-secondary-700: #2f8c66;
  --color-secondary-800: #287757;
  --color-secondary-900: #236248;
  --color-secondary-950: #123124;

  --color-silver-50: #f7f7f7;
  --color-silver-100: #f0f0f0;
  --color-silver-200: #e3e3e3;
  --color-silver-300: #d1d1d1;
  --color-silver-400: #bdbdbd;
  --color-silver-500: #aaaaaa;
  --color-silver-600: #969696;
  --color-silver-700: #818181;
  --color-silver-800: #6a6a6a;
  --color-silver-900: #585858;
  --color-silver-950: #333333;

  --color-wild-sand-50: #f5f5f5;
  --color-wild-sand-100: #efefef;
  --color-wild-sand-200: #dcdcdc;
  --color-wild-sand-300: #bdbdbd;
  --color-wild-sand-400: #989898;
  --color-wild-sand-500: #7c7c7c;
  --color-wild-sand-600: #656565;
  --color-wild-sand-700: #525252;
  --color-wild-sand-800: #464646;
  --color-wild-sand-900: #3d3d3d;
  --color-wild-sand-950: #292929;

  --color-shark-50: #f6f6f6;
  --color-shark-100: #e7e7e7;
  --color-shark-200: #d1d1d1;
  --color-shark-300: #b0b0b0;
  --color-shark-400: #888888;
  --color-shark-500: #6d6d6d;
  --color-shark-600: #5d5d5d;
  --color-shark-700: #3c3c3e;
  --color-shark-800: #2e2e30;
  --color-shark-900: #222325;
  --color-shark-950: #1a1b1e;

  --max-w-100: calc(var(--spacing) * 100);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  color: var(--color-dark-text-primary);
}

p {
  font-family: var(--font-paragraph);
  color: var(--color-dark-text-secondary);
}

button {
  font-family: var(--font-button);
}

.special-text {
  font-family: var(--font-special);
  color: var(--color-dark-text-tertiary);
}

.lato-text {
  font-family: var(--font-paragraph);
  color: var(--color-dark-text-muted);
}

.accent-text {
  color: var(--color-dark-text-accent);
}

:root {
  --radius: 0.625rem;
  --background: var(--color-wild-sand-50);
  --foreground: var(--color-dark-text-primary);
  --card: var(--color-primary-100);
  --card-foreground: var(--color-dark-text-secondary);
  --popover: var(--color-primary-100);
  --popover-foreground: var(--color-dark-text-secondary);
  --primary: var(--color-primary-500);
  --primary-foreground: var(--color-primary-50);
  --secondary: var(--color-secondary-500);
  --secondary-foreground: var(--color-secondary-50);
  --muted: var(--color-silver-300);
  --muted-foreground: var(--color-dark-text-muted);
  --accent: var(--color-secondary-400);
  --accent-foreground: var(--color-secondary-50);
  --destructive: var(--color-primary-900);
  --border: var(--color-wild-sand-400);
  --input: var(--color-wild-sand-200);
  --ring: var(--color-primary-700);
  --chart-1: var(--color-primary-400);
  --chart-2: var(--color-secondary-400);
  --chart-3: var(--color-silver-500);
  --chart-4: var(--color-primary-600);
  --chart-5: var(--color-secondary-600);
  --sidebar: var(--color-primary-100);
  --sidebar-foreground: var(--color-dark-text-primary);
  --sidebar-primary: var(--color-primary-500);
  --sidebar-primary-foreground: var(--color-primary-50);
  --sidebar-accent: var(--color-secondary-400);
  --sidebar-accent-foreground: var(--color-secondary-50);
  --sidebar-border: var(--color-silver-400);
  --sidebar-ring: var(--color-primary-700);
}

.dark {
  --background: var(--color-shark-950);
  --foreground: var(--color-dark-text-primary);
  --card: var(--color-shark-900);
  --card-foreground: var(--color-dark-text-secondary);
  --popover: var(--color-shark-900);
  --popover-foreground: var(--color-dark-text-secondary);
  --primary: var(--color-primary-600);
  --primary-foreground: var(--color-primary-50);
  --secondary: var(--color-secondary-600);
  --secondary-foreground: var(--color-secondary-50);
  --muted: var(--color-shark-600);
  --muted-foreground: var(--color-dark-text-muted);
  --accent: var(--color-shark-700);
  --accent-foreground: var(--color-dark-text-primary);
  --destructive: var(--color-primary-800);
  --border: var(--color-shark-700);
  --input: var(--color-shark-800);
  --ring: var(--color-primary-800);
  --chart-1: var(--color-primary-600);
  --chart-2: var(--color-secondary-600);
  --chart-3: var(--color-silver-600);
  --chart-4: var(--color-primary-900);
  --chart-5: var(--color-secondary-900);
  --sidebar: var(--color-shark-900);
  --sidebar-foreground: var(--color-dark-text-primary);
  --sidebar-primary: var(--color-primary-700);
  --sidebar-primary-foreground: var(--color-primary-50);
  --sidebar-accent: var(--color-secondary-600);
  --sidebar-accent-foreground: var(--color-secondary-50);
  --sidebar-border: var(--color-shark-700);
  --sidebar-ring: var(--color-primary-800);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-white text-black dark:bg-shark-950 dark:text-[--color-dark-text-primary];
  }
}

.scrollbar-none::-webkit-scrollbar {
  display: none;
}
.scrollbar-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.grecaptcha-badge {
  visibility: hidden;
}